# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos
DB_HOST=localhost
DB_PORT=27017
DB_NAME=frigor_fico
DB_USER=admin
DB_PASSWORD=

# Logging
LOG_LEVEL=debug

# API
API_URL=http://localhost:3000
